:root {
    --Encabezados: #FAF9F6;
    --Fondo: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Inicio h1 {
    font-family: 'Caprasimo', serif;
    color: #333;
    font-weight: 100;
    background-color: var(--Encabezados);
    font-size: 36px;
    text-align: left;
    padding: 4px;
    width: 100%;
}

main {
    margin: 50px;
}

#Inicio,
.nav,
#contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Encabezados);
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: var(--Encabezados);
    margin: 3px;
}

nav ul li {
    margin: 0 20px;
    list-style: none;
    font-size: 16px;
    align-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #007da5;
    /* Cambia el color al pasar el mouse */
}

nav,
#contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--Encabezados);

}

#contacto {
    display: flex;
    justify-content: space-between;
    width: 2em;
    height: 2em;
    margin-left: 15px;
}

img.fondo {
    object-fit: cover;
    object-position: unset;
    display: block;
    transition: all 0.5s ease;
    /*object-position: 55% 33.5%;*/
    height: 400px;
    width: 100%;
    transition: 1s;
    border-radius: 0.125rem;
}
